*{
  color: black;
}

.text-center{
  margin-top: 1.3rem;
}

.header{
  font-size: 3.5rem;
  margin: 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.also{
  text-align: left;
  margin: 10px;
}

.btn{
  width: 100px;
}

